BODY {
	FONT-SIZE: 12px; BACKGROUND: #fff; LINE-HEIGHT: 14px; FONT-FAMILY: Tahoma
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
TH {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
DIV {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
TABLE {
	empty-cells: show
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
H3 {
	DISPLAY: inline; FONT-SIZE: 1em
}
H2 {
	DISPLAY: inline; FONT-SIZE: 1em
}
H3 {
	FONT-WEIGHT: normal
}
H2 A {
	COLOR: #000
}
H3 A {
	COLOR: #000
}
H4 {
	FONT-SIZE: 1.1em; MARGIN: 20px 0px 10px
}
TEXTAREA {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; FONT: 12px Arial; VERTICAL-ALIGN: middle; PADDING-TOP: 1px
}
INPUT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; FONT: 12px Arial; VERTICAL-ALIGN: middle; PADDING-TOP: 1px
}
SELECT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; FONT: 12px Arial; VERTICAL-ALIGN: middle; PADDING-TOP: 1px
}
.c {
	CLEAR: both; FONT: 0px/0 Arial; HEIGHT: 0px
}
.b {
	FONT-WEIGHT: bold
}
.y-style {
	TEXT-ALIGN: center
}
.tal {
	BORDER-RIGHT: #d4eff7 1px solid; TEXT-ALIGN: center
}
.tals {
	BORDER-RIGHT: #d4eff7 1px solid; TEXT-ALIGN: left
}
.tac {
	TEXT-ALIGN: center
}
.tar {
	TEXT-ALIGN: right
}
.fr {
	FLOAT: right
}
.fl {
	FLOAT: left
}
.bold {
	FONT-WEIGHT: bold
}
A {
	COLOR: #2f5fa1; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
A:hover {
	LINE-HEIGHT: 14px; TEXT-DECORATION: underline
}
.abtn {
	BORDER-RIGHT: #b6d9e3 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #b6d9e3 1px solid; PADDING-LEFT: 8px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 2px; BORDER-LEFT: #b6d9e3 1px solid; CURSOR: pointer; COLOR: #2f5fa1; PADDING-TOP: 2px; BORDER-BOTTOM: #b6d9e3 1px solid; HEIGHT: 30px
}
.s1 {
	COLOR: #008000
}
.s2 {
	COLOR: #984b98
}
.s3 {
	COLOR: #fa891b
}
.s4 {
	COLOR: #0033ff
}
.s5 {
	COLOR: #659b28
}
.gray {
	COLOR: #818a89
}
.green {
	COLOR: #659b28
}
.f_one {
	BACKGROUND: #ffffff
}
.t_one {
	BACKGROUND: #ffffff
}
.r_one {
	BACKGROUND: #ffffff
}
.f_two {
	BACKGROUND: #e0f0f9
}
.t_two {
	BACKGROUND: #e0f0f9
}
.r_two {
	BACKGROUND: #f4fbff
}
.abtn IMG {
	WIDTH: 80px; HEIGHT: 80px
}
TEXTAREA {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; FONT: 12px Arial; VERTICAL-ALIGN: middle; PADDING-TOP: 1px
}
INPUT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; FONT: 12px Arial; VERTICAL-ALIGN: middle; PADDING-TOP: 1px
}
SELECT {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 0px; FONT: 12px Arial; VERTICAL-ALIGN: middle; PADDING-TOP: 1px
}
SELECT {
	BORDER-RIGHT: #d4eff7 1px solid; BORDER-TOP: #d4eff7 1px solid; BORDER-LEFT: #d4eff7 1px solid; BORDER-BOTTOM: #d4eff7 1px solid
}
.bt {
	BORDER-RIGHT: #809846 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #809846 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; BORDER-LEFT: #809846 1px solid; COLOR: #648a0c; PADDING-TOP: 1px; BORDER-BOTTOM: #809846 1px solid
}
.ip {
	BORDER-RIGHT: #809846 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #809846 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; BACKGROUND: #ffffff; PADDING-BOTTOM: 2px; BORDER-LEFT: #809846 1px solid; COLOR: #648a0c; PADDING-TOP: 2px; BORDER-BOTTOM: #809846 1px solid
}
.btn {
	BORDER-RIGHT: #a6cbe7 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #a6cbe7 1px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; BORDER-LEFT: #a6cbe7 1px solid; COLOR: #648a0c; PADDING-TOP: 1px; BORDER-BOTTOM: #a6cbe7 1px solid
}
.btn1 {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 15px; PADDING-LEFT: 15px; BORDER-LEFT-WIDTH: 1px; BACKGROUND: url(../images/bg.png) #b6d9e3 repeat-x 0px -200px; BORDER-BOTTOM-WIDTH: 1px; VERTICAL-ALIGN: middle; COLOR: #005681; BORDER-RIGHT-WIDTH: 1px
}
.input {
	BORDER-RIGHT: #a6cbe7 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a6cbe7 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 1em; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; BORDER-LEFT: #a6cbe7 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #a6cbe7 1px solid
}
FORM {
	DISPLAY: inline
}
TEXTAREA {
	BORDER-RIGHT: #a6cbe7 1px solid; BORDER-TOP: #a6cbe7 1px solid; BORDER-LEFT: #a6cbe7 1px solid; BORDER-BOTTOM: #a6cbe7 1px solid
}
#header {
	MARGIN: auto; WIDTH: 98%
}
.toptool {
	BORDER-BOTTOM: #daebcd 1px solid
}
.toptool SPAN {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; LINE-HEIGHT: 150%; PADDING-TOP: 1px
}
.banner {
	PADDING-RIGHT: 3%
}
.banner IMG {
	VERTICAL-ALIGN: middle
}
.guide {
	BORDER-RIGHT: #c4e6af 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #c4e6af 1px solid; PADDING-LEFT: 0.5em; BACKGROUND: url(images/wind/bg.png) #f7f7f7 repeat-x 0px -100px; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #c4e6af 1px solid; COLOR: #ccc; PADDING-TOP: 0.5em; BORDER-BOTTOM: #c4e6af 1px solid
}
.fram {
	BORDER-RIGHT: #a6cbe7 1px solid; BORDER-TOP: #a6cbe7 1px solid; MARGIN-TOP: 1px; BORDER-LEFT: #a6cbe7 1px solid; BORDER-BOTTOM: #a6cbe7 1px solid
}
.t {
	BORDER-RIGHT: #a6cbe7 1px solid; BORDER-TOP: #a6cbe7 1px solid; MARGIN: 0px auto 8px; BORDER-LEFT: #a6cbe7 1px solid; BORDER-BOTTOM: #a6cbe7 1px solid
}
.t TABLE {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; MARGIN: 0px auto; BORDER-LEFT: #fff 1px solid; WIDTH: 99.98%; BORDER-BOTTOM: #fff 1px solid
}
.t2 {
	BORDER-TOP: #a6cbe7 1px solid; MARGIN: 0px auto 5px
}
.t3 {
	MARGIN: auto
}
.t4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.t5 {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN: 0px auto 8px; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}
.h {
	PADDING-RIGHT: 0.4em; PADDING-LEFT: 0.4em; BACKGROUND: url(../images/bg.png) #76bac2 repeat-x 0px -200px; PADDING-BOTTOM: 0.3em; COLOR: #005681; PADDING-TOP: 0.3em; BORDER-BOTTOM: #76bac2 1px solid; TEXT-ALIGN: left
}
.h SPAN {
	FONT-WEIGHT: normal
}
.h H2 {
	FONT-WEIGHT: bold
}
.h A {
	COLOR: #004c7d; FONT-FAMILY: Arial
}
.h SPAN A {
	COLOR: #5599bb
}
.h SPAN {
	COLOR: #5599bb
}
.h A.a2 {
	MARGIN-LEFT: 12px; LINE-HEIGHT: 16px
}
.tr1 TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.tr1 TD.td1 {
	BORDER-RIGHT: #d4eff7 1px solid; BORDER-TOP: #d4eff7 1px solid; BORDER-LEFT: #d4eff7 1px solid; BORDER-BOTTOM: #d4eff7 1px solid
}
.tr2 {
	BACKGROUND: url(images/bg.png) #f7f7f7 repeat-x 0px -300px; COLOR: #659b28
}
.tr2 TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 2px; BORDER-BOTTOM: #deead2 1px solid
}
.tr2 TH {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 18px; PADDING-TOP: 2px; BORDER-BOTTOM: #deead2 1px solid
}
.tr2 A {
	MARGIN: 2px 2px 0px; COLOR: #659b28
}
.tr3 TD {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em; BORDER-BOTTOM: #d4eff7 1px solid
}
.tr3 TH {
	PADDING-RIGHT: 0.6em; PADDING-LEFT: 0.6em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em; BORDER-BOTTOM: #d4eff7 1px solid
}
.tr3 TH {
	FONT-WEIGHT: normal; TEXT-ALIGN: left
}
.tr4 {
	BACKGROUND: url(images/wind/bg.png) #76bac2 repeat-x 0px -200px; COLOR: #005681
}
.tr4 TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.tr TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.tr TH {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.tpc_content {
	PADDING-RIGHT: 2%; PADDING-LEFT: 0.5%; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 2%; LINE-HEIGHT: 25px; PADDING-TOP: 0px; FONT-FAMILY: Arial; LETTER-SPACING: 1px
}
.tips {
	BORDER-RIGHT: #d4eff7 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d4eff7 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f4fbff; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 1% 1% 0px; BORDER-LEFT: #d4eff7 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d4eff7 1px solid; TEXT-ALIGN: center
}
.tiptop {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: middle; PADDING-TOP: 0px; BORDER-BOTTOM: #d4eff7 1px solid
}
.tipad {
	PADDING-RIGHT: 0px; BORDER-TOP: #d4eff7 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 10px 0px 0px; PADDING-TOP: 5px
}
.quote {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 70%; PADDING-BOTTOM: 0px; MARGIN: 2px; COLOR: #004c7d; PADDING-TOP: 0px
}
BLOCKQUOTE {
	BORDER-RIGHT: #d4eff7 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d4eff7 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 85%; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 1%; BORDER-LEFT: #d4eff7 3px solid; WIDTH: 92%; COLOR: #81888c; PADDING-TOP: 5px; BORDER-BOTTOM: #d4eff7 1px solid
}
.menues {
	BORDER-RIGHT: #b6d9e3 1px solid; BORDER-TOP: #b6d9e3 1px solid; BACKGROUND: #fff; BORDER-LEFT: #b6d9e3 1px solid; BORDER-BOTTOM: #b6d9e3 1px solid; POSITION: absolute
}
.menu {
	BORDER-RIGHT: #b6d9e3 1px solid; BORDER-TOP: #b6d9e3 1px solid; BACKGROUND: #fff; BORDER-LEFT: #b6d9e3 1px solid; BORDER-BOTTOM: #b6d9e3 1px solid; POSITION: absolute
}
.menu TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.menu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.menu LI {
	LIST-STYLE-TYPE: none
}
.menu A {
	PADDING-RIGHT: 15px; DISPLAY: block; PADDING-LEFT: 15px; BACKGROUND: #fff; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.menu A:hover {
	BACKGROUND: #2f5fa1; COLOR: #fff; TEXT-DECORATION: none
}
.menu UL.ul1 LI A {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.pages {
	MARGIN: 3px 0px; FONT: 11px/12px Tahoma
}
.pages  {
	VERTICAL-ALIGN: middle
}
.pages A {
	BORDER-RIGHT: #b6d9e3 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #b6d9e3 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 1px; MARGIN: 0px 1px 0px 0px; FONT: 12px/14px verdana; BORDER-LEFT: #b6d9e3 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #b6d9e3 1px solid; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.pages A:hover {
	BORDER-RIGHT: #659b28 1px solid; BORDER-TOP: #659b28 1px solid; BACKGROUND: #f7f7f7; BORDER-LEFT: #659b28 1px solid; COLOR: #005681; BORDER-BOTTOM: #659b28 1px solid; TEXT-DECORATION: none
}
.pages INPUT {
	BORDER-RIGHT: #659b28 1px solid; BORDER-TOP: #659b28 1px solid; PADDING-LEFT: 1px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 1px; FONT: bold 12px/15px Verdana; BORDER-LEFT: #659b28 1px solid; COLOR: #659b28; MARGIN-RIGHT: 1px; BORDER-BOTTOM: #659b28 1px solid; HEIGHT: 15px
}
#footer {
	PADDING-RIGHT: 0px; BORDER-TOP: #dbecf4 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; MARGIN: auto; WIDTH: 98%; PADDING-TOP: 5px; BORDER-BOTTOM: #f3f8ef 12px solid; TEXT-ALIGN: right
}
#main {
	MARGIN: auto; WIDTH: 98%
}
.msgbody {
	OVERFLOW: hidden; WIDTH: 100%
}
.msgheader {
	BORDER-RIGHT: #dedeb8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #dedeb8 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #f3f8d7; PADDING-BOTTOM: 5px; MARGIN: 0px 1em; BORDER-LEFT: #dedeb8 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #dedeb8 1px solid
}
.msgborder {
	BORDER-RIGHT: #dedeb8 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #dedeb8 0px solid; PADDING-LEFT: 10px; BACKGROUND: #fdfff2; PADDING-BOTTOM: 10px; MARGIN: 0px 1em; OVERFLOW: hidden; BORDER-LEFT: #dedeb8 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #dedeb8 1px solid; WORD-WRAP: break-word
}
.right {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
.t_attachlist {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #dedeb8 1px solid
}
.smalltxt {
	FONT: 11px Arial, Tahoma
}
.absmiddle {
	VERTICAL-ALIGN: middle
}
